{% include "header.html" %}

<body>
<div class="middle-container">


    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-left overflow-hidden">
          <img src="static/images/irina.png"  alt="Irina" class="img-thumbnail bd-placeholder-img rounded-circle">

        </div>
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-left overflow-hidden">
                <div class="profile">
                    <h1>Hello</h1>
                    <p class="intro">I am a beginner programmer. I started learning programming just a couple of months ago because I moved to another country and stayed at home with my children. I decided not to waste my time and try something new and interesting, but related to my previous profession. I worked in finance for about 8 years and I want to continue studying to become a data scientist.</p>
                </div>
            <hr>
            <div class="skills">
                <h2>My Skills</h2>
                <div class="skill-row">

                    <h4>What I've learned already:</h4>
                    <ul>
                        <li>How to build games like Blackjack, Pong and Snake using Python</li>
                        <li>How to crypt and decrypt text using Python</li>
                        <li>I am able to build fully fledged websites and web apps with Python</li>
                        <li>Selenium, Beautiful Soup, Request, Flask, Pandas, NumPy, Scikit Learn, Plotly, and Matplotlib</li>
                        <li>etc.</li>
                    </ul>

                </div>
            </div>
            <hr>
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <p>If you have any questions, feel free to write me</p>
                <a class="btn text-decoration-underline" href="mailto:irina.drachevskaia.tr@gmail.com" style="color: blue">CONTACT ME</a>
            </div>
        </div>
    </div>
</div>



</body>

{% include "footer.html" %}
